@tailwind base;
@tailwind components;
@tailwind utilities;

.lazy-load-image-background {
  display: flex !important;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
